div.App {
   display: grid;
   place-items: center;
}

/* div.selects > span {
  padding-left: 10px;
  padding-right: 10px;
} */

/* table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 80%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tbody > tr {
  background-color: #dddddd;
} */

/* tr:nth-child(even) {
  background-color: #dddddd;
} */